/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#proj1  {
  content: "";
  border-radius: 0.25rem;
  background-image: linear-gradient(
    to bottom,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.988) 7.6%,
    hsla(0, 0%, 0%, 0.954) 13.7%,
    hsla(0, 0%, 0%, 0.902) 18.8%,
    hsla(0, 0%, 0%, 0.834) 22.9%,
    hsla(0, 0%, 0%, 0.754) 26.6%,
    hsla(0, 0%, 0%, 0.665) 30%,
    hsla(0, 0%, 0%, 0.571) 33.5%,
    hsla(0, 0%, 0%, 0.474) 37.4%,
    hsla(0, 0%, 0%, 0.378) 41.9%,
    hsla(0, 0%, 0%, 0.286) 47.4%,
    hsla(0, 0%, 0%, 0.201) 54.2%,
    hsla(0, 0%, 0%, 0.127) 62.5%,
    hsla(0, 0%, 0%, 0.067) 72.7%,
    hsla(0, 0%, 0%, 0.023) 85.1%,
    hsla(0, 0%, 0%, 0) 100%
  );
}


